<h4>Welcome to the TBA!</h4>
<p>
  The foundations of this platoon are a group of guys who 
  have played the game together since the game was released.
</p>
<p>
We are a relaxed bunch who enjoy playing the game to have fun,
And we do exactly what it says on the tin! TAG and Bag.
bagging with no tagging is simply unacceptable.
</p>
<p>
Want to squad up with us and have a ball (or 2) then feel free to apply!
</p>
<p>
New members please add the leaders via xbl if you want to join our parties
and games (gamertags in battlelog profiles).
</p>
<p>
  <h6>STABY STABY SQUAD</h6>
  <ul>
    <li>Bo55reaper 
    <li>The Big Cat 200
    <li>ImpactedCargo
    <li>sgtmash1974
  </ul>
</p>
<p>
<h6>LEMMING SQUAD</h6>
  <ul>
    <li><a href="http://goo.gl/X7EVz">UltraFlynn</a>
  </ul>
</p>
<p>
<h6>MEATSHIELD SQUAD</h6>
<ul>
  <li>lyoneye
  <li>Dirk Pike
</ul>
</p>
<p>
  <h6>KAMIKAZE SQUAD</h6>
  <ul>
    <li>RelaxingMocha59
  </ul>
</p>
<p>
<h6>RURAL SCIENCE SQUAD</h6>
<ul>
  <li>LegibleEarth27 (Tattie Squad Leader)
  <li>R1cky Da Man 19 (Minister of Propaganda)
</ul>
</p>
<p>
All new members MUST read  this: <a href="http://www.urbandictionary.com/define.php?term=Tea-Bag">Definition of Tea-Bag</a>
<p>
